.loaderBars {
  display: flex;
  justify-content: center;
  height: 40px;
}

.title {
  font-family: Titillium Web,sans-serif;
  font-size: 1.75rem;
  font-weight: 900;
  color: #fff;
  text-transform: uppercase;
  text-align: center;
  line-height: 1em;
  display: flex;
  align-items: center;
  justify-content: center;
}

.loading {
  margin-top: 10px;
  font-size: .75rem;
  font-weight: 700;
  color: #fff;
  text-transform: uppercase;
  text-align: center;
  font-family: Rajdhani,sans-serif;
  line-height: 1em;
}

.loaderBar {
  width: 4px;
  height: 100%;
  margin-right: 4px;
  border-radius: 200px;
  transform: scaleY(.2);
  animation: loading .5s infinite ease-in alternate;
}

@keyframes loading {
  0% {
    transform: scaleY(.2);
  }
  100% {
    transform: scaleY(1);
  }
}

.loaderBar:nth-child(0) {
  background-color: #41d04f;
}

.loaderBar:nth-child(1) {
  background-color: #50d551;
  animation-delay: .1s;
}

.loaderBar:nth-child(2) {
  background-color: #67dc55;
  animation-delay: .2s;
}

.loaderBar:nth-child(3) {
  background-color: #7de358;
  animation-delay: .3s;
}

.loaderBar:nth-child(4) {
  background-color: #99eb5c;
  animation-delay: .4s;
}

.loaderBar:nth-child(5) {
  background-color: #b1f35f;
  animation-delay: .5s;
}

.loaderBar:nth-child(6) {
  background-color: #c7f962;
  animation-delay: .6s;
}

.loaderBar:nth-child(7) {
  background-color: #d6fe65;
  animation-delay: .7s;
}