@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Plus Jakarta Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  background-color: #2d1e53;
  background-image: url(./assets/login.png);
}

.nav-menu {
  backdrop-filter: blur(42px);
}
.element-with-border {
  position: relative;
  border-radius: 10px; /* Adjust as needed */
  overflow: hidden;
}

.element-with-border::before {
  content: '';
  position: absolute;
  inset: 0; /* Shorthand for top: 0; right: 0; bottom: 0; left: 0; */
  padding: 2px; /* This creates the border width */
  background: radial-gradient(69.43% 69.43% at 50% 50%, #FFFFFF 0%, rgba(255, 255, 255, 0) 100%);
  -webkit-mask: 
    linear-gradient(#fff 0 0) content-box, 
    linear-gradient(#fff 0 0);
  -webkit-mask-composite: xor;
  mask-composite: exclude;
  pointer-events: none; /* Allows clicks to pass through to the main element */
}

.input-shadow {
  position: relative;
  backdrop-filter: blur(42px);
  border-radius: 20px;
  background-clip: padding-box;
  border: 2px solid transparent;
  /* isolation: isolate; Creates a new stacking context */
  background:
  /* linear-gradient(#2d1e53,#2d1e53) padding-box, */
  linear-gradient( to left, #2d1e53,#000) padding-box,
  radial-gradient(69.43% 69.43% at 50% 50%, #FFFFFF,rgba(255,255,255,0)) border-box;
}
.oauth-provider-box {
  position: relative;
  border-radius: 20px;
  background-clip: padding-box;
  border: 2px solid transparent;
  /* isolation: isolate; Creates a new stacking context */
  background:
  linear-gradient(#000,#000) padding-box,
  radial-gradient(69.43% 69.43% at 50% 50%, #FFFFFF,rgba(255,255,255,0)) border-box;
  backdrop-filter: blur(42px);

}

.form-bg {
  backdrop-filter: blur(42px);
}