@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Plus Jakarta Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.auth-page {
  background-image: url(./assets/login.png);
  padding-top: 2.5rem;
}

.nav-menu {
  backdrop-filter: blur(42px);
}
.element-with-border {
  position: relative;
  border-radius: 10px; /* Adjust as needed */
  overflow: hidden;
}

.element-with-border::before {
  content: '';
  position: absolute;
  inset: 0; /* Shorthand for top: 0; right: 0; bottom: 0; left: 0; */
  padding: 2px; /* This creates the border width */
  background: radial-gradient(69.43% 69.43% at 50% 50%, #FFFFFF 0%, rgba(255, 255, 255, 0) 100%);
  -webkit-mask: 
    linear-gradient(#fff 0 0) content-box, 
    linear-gradient(#fff 0 0);
  -webkit-mask-composite: xor;
  mask-composite: exclude;
  pointer-events: none; /* Allows clicks to pass through to the main element */
}

.input-shadow {
  position: relative;
  backdrop-filter: blur(42px);
  border-radius: 20px;
  background-clip: padding-box;
  border: 2px solid transparent;
  /* isolation: isolate; Creates a new stacking context */
  background:
  /* linear-gradient(#2d1e53,#2d1e53) padding-box, */
  linear-gradient( to left, #2d1e53,#000) padding-box,
  radial-gradient(69.43% 69.43% at 50% 50%, #FFFFFF,rgba(255,255,255,0)) border-box;
}
.oauth-provider-box {
  position: relative;
  border-radius: 20px;
  background-clip: padding-box;
  border: 2px solid transparent;
  /* isolation: isolate; Creates a new stacking context */
  background:
  linear-gradient(#000,#000) padding-box,
  radial-gradient(69.43% 69.43% at 50% 50%, #FFFFFF,rgba(255,255,255,0)) border-box;
  backdrop-filter: blur(42px);

}

.provider-box {
  position: relative;
  border-radius: 50px;
  background-clip: padding-box;
  border: 2px solid transparent;
  /* isolation: isolate; Creates a new stacking context */
  background:
  linear-gradient(#151718,#151718) padding-box,
  radial-gradient(69.43% 69.43% at 50% 50%, #FFFFFF,rgba(255,255,255,0)) border-box;
  backdrop-filter: blur(42px);

}

.form-bg {
  backdrop-filter: blur(42px);
}

.blurred-gradient-div {
  width: 480px; /* Adjust the width */
  height: 280px; /* Adjust the height */
  background: linear-gradient(to bottom right, rgba(0, 0, 0, .8), rgba(0, 0, 0, 0.8));
  background-size: cover;
  background-position: center;
  border-radius: 15px; /* Smooth corners */
  /* filter: blur(10px); Apply blur effect */
  backdrop-filter: blur(10px); /* Makes the background blur visible */
  padding: 10px;
  display: flex;
  align-items: center;
  color: white; /* Adjust text color */
  overflow: hidden;
}

.text-bordered {
  text-shadow: 
    -1px -1px 0 black,  /* Top-left shadow */
     1px -1px 0 black,  /* Top-right shadow */
    -1px  1px 0 black,  /* Bottom-left shadow */
     1px  1px 0 black;  /* Bottom-right shadow */
}

.text-white-bordered {
  text-shadow: 
    -1px -1px 0 white,  /* Top-left shadow */
     1px -1px 0 white,  /* Top-right shadow */
    -1px  1px 0 white,  /* Bottom-left shadow */
     1px  1px 0 white;  /* Bottom-right shadow */
}

/* Custom scrollbar styles */
.custom-scrollbar {
  scrollbar-width: thin; /* For Firefox */
  scrollbar-color: rgba(0, 252, 252, 0.801) #161A42; /* thumb color and track color for Firefox */
}

.custom-scrollbar::-webkit-scrollbar {
  width: 8px; /* Scrollbar width */
  height: 8px; /* Horizontal scrollbar height */
}

.custom-scrollbar::-webkit-scrollbar-button {
  width: 0;
  height: 0;
  display: none;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: #161A42;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: #161A42; /* Thumb color */
  border-radius: 10px; /* Rounded corners */
  border: 2px solid #f5f5f5; /* Adds padding around thumb */
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background-color: linear-gradient(45deg, #161A42, #3b5998);; /* Thumb hover color */
}


.custom-chat-scrollbar {
  scrollbar-width: thin; /* For Firefox */
  scrollbar-color: rgba(0, 252, 252, 0.801) #161A42; /* thumb color and track color for Firefox */
}

.custom-chat-scrollbar::-webkit-scrollbar {
  width: 8px; /* Scrollbar width */
  height: 8px; /* Horizontal scrollbar height */
}

.custom-chat-scrollbar::-webkit-scrollbar-button {
  width: 0;
  height: 0;
  display: none;
}

.custom-chat-scrollbar::-webkit-scrollbar-track {
  background: #161A42;
}

.custom-chat-scrollbar::-webkit-scrollbar-thumb {
  background-color: #161A42; /* Thumb color */
  border-radius: 10px; /* Rounded corners */
  border: 2px solid #f5f5f5; /* Adds padding around thumb */
}

.custom-chat-scrollbar::-webkit-scrollbar-thumb:hover {
  background-color: linear-gradient(45deg, #161A42, #3b5998);; /* Thumb hover color */
}
.border-image-custom1 {
  border-image-slice: 1; /* Adjust as needed */
  border-image-width: 1; /* Match this with your border width */
  border-image-source: linear-gradient(250.57deg, rgba(255, 255, 255, 0.3) 25.87%, rgba(255, 255, 255, 0) 63.04%),
                       conic-gradient(from 180deg at 51.95% 49.81%, rgba(0, 0, 0, 0.105455) -2.11deg, rgba(51, 231, 255, 0) 131.45deg, #F5D4FF 184.64deg, rgba(51, 157, 255, 0) 252.32deg, rgba(0, 0, 0, 0.0885149) 310.85deg, rgba(0, 0, 0, 0.105455) 357.89deg, rgba(51, 231, 255, 0) 491.45deg);
}

.custom-background1 {
  background-image: radial-gradient(45.21% 118.84% at 76.68% 66.67%, #F69CA5 0%, #EA71C5 100%), linear-gradient(180deg, rgba(200, 215, 254, 0.9) -60.85%, rgba(50, 94, 179, 0) 29.56%);
  background-blend-mode: overlay;
}
.border-image-custom {
  border-style: solid; /* Ensure the border is styled */
  border-width: 1px; /* Match the border width */
  border-image-slice: 1; /* Adjust this value as necessary */
  border-image-source: linear-gradient(250.57deg, rgba(255, 255, 255, 0.3) 25.87%, rgba(255, 255, 255, 0) 63.04%),
                       conic-gradient(from 180deg at 51.95% 49.81%, rgba(0, 0, 0, 0.105455) -2.11deg, rgba(51, 231, 255, 0) 131.45deg, #F5D4FF 184.64deg, rgba(51, 157, 255, 0) 252.32deg, rgba(0, 0, 0, 0.0885149) 310.85deg, rgba(0, 0, 0, 0.105455) 357.89deg, rgba(51, 231, 255, 0) 491.45deg);
}
.gradient-text {
  background: linear-gradient(90deg, #ACB6E5 0%, #86FDE8 100%);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent; /* Make the text color transparent */
}

.item-scrollbar {
  direction: rtl;
  border-radius: 6px;
}

.item-scrollbar::-webkit-scrollbar {
  width: 8px; /* Scrollbar width */
  height: 8px; /* Horizontal scrollbar height */
}


.item-scrollbar::-webkit-scrollbar-track {
  /* background: #161A42; */
background: transparent;
}

.item-scrollbar::-webkit-scrollbar-thumb {
  background: linear-gradient(90deg, #2193B0 0%, #6DD5ED 100%);
  border-radius: 10px; /* Rounded corners */
  background-clip: content-box;
}

.item-scrollbar::-webkit-scrollbar-thumb:hover {
  background-color: linear-gradient(45deg, #161A42, #3b5998); /* Thumb hover color */
}

.custom-border {
  border: 1px solid;
  border-image-source: conic-gradient(
      from 180deg at 51.95% 49.81%,
      rgba(0, 0, 0, 0.105455) -2.11deg,
      rgba(51, 66, 255, 0) 131.45deg,
      #37F4F4 175.58deg,
      rgba(51, 66, 255, 0) 252.32deg,
      rgba(0, 0, 0, 0.0885149) 310.85deg,
      rgba(0, 0, 0, 0.105455) 357.89deg,
      rgba(51, 66, 255, 0) 491.45deg
  );
  border-image-slice: 1; /* Ensure the border image is sliced correctly */
}
.MuiDialogContent-root {
  padding: 0%!important;
}